.project-item {
  background: #eeeeee;
  font-size: 12px;
  padding-top: 15px;
  color: #777777;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.project-item strong, .project-item h3 {
  color: #333;
}

.project-item h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.project-item h4 {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.project-icon {
  float: left;
  margin-right: 10px;
}

.project-item .company-name {
  margin-top: 15px;
  display: block;
}

.project-item .description p {
  text-align: justify;
}

.project-item .custom-button {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  background: #33d2c3;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.project-item .socials {
  list-style: none;
  float: right;
}

.project-item .socials li {
  display: inline-block;
  margin-left: 10px;
}

.project-item .socials li .info {
  margin-left: 20px;
}

.project-item .socials li .fa-stack {
  margin-right: -15px;
}

.project-item .progress {
  height: 9px;
  border-radius: 0;
  margin-bottom: 10px;
}

.project-item h3 span {
  font-weight: normal;
  margin: 0 10px;
}

.project-item h3 a {
  font-weight: normal;
  color: #333;
  text-decoration: underline;
}

.project-item .description {
  cursor: pointer;
  height: 90px;
  overflow-y: hidden;
}

.project-item .description.expanded {
  height: 350px;
  cursor: default;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 7px;
  padding-right: 10px;
}

.project-item .description.expanded::-webkit-scrollbar {
  width: 8px;
}

.project-item .description.expanded::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(119, 119, 119, 1);
  border-radius: 4px;
}

.project-item .description.expanded::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(119, 119, 119, 1);
  border-radius: 4px;
}

.support-project {
  margin-top: 25px;
  display: none;
}

.support-project p {
  font-size: 20px;
  color: #575757;
}

.support-project input[type='text'] {
  display: inline-block;
  height: 50px;
  border-radius: 5px;
  font-size: 23px;
  padding: 0 10px;
  width: 236px;
  border: 2px solid #33d2c3;
  color: #33d2c3;
  font-weight: bold;
  margin-right: 10px;
}

.support-project .custom-button {
  display: inline-block;
  width: 110px;
}

.more-projects {
  margin: 30px auto;
}

.project-image {
  cursor: pointer;
}

.project-image-lg {
  display: none;
}



